body {
	background-color: #f0f0f0;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
}

section h2 {
	font-size: 45px;
	width: 85%;
	margin: 0 auto;
	font-family: 'Black Han Sans', sans-serif;
	font-weight: normal;
	text-align: center;
}

section p {
	font-size: 15px;
	margin: 4px 0 20px 0;
	color: #666666;
	text-align: center;
}

section .write table {
	width: 100%;
	border-top: 3px solid #333333;
	border-bottom: 3px solid #333333;
	padding: 10px 20px 20px 20px;
	background: #f6f6f6;
}

section .write table th {
	text-align: left;
	font-size: 18px;
	padding: 14px 10px 14px 0;
}

section .write table td {
	padding: 4px 0;
}

.write table tr {
	margin: 30px 0;
	border-top: 1px solid #999999;
}

select {
	width: 100px;
	padding: 6px 18px;
	border: 1px solid #999999;
	border-radius: 0px;
	font-size: 14px;
}

input[type="text"] {
	border: 1px solid #999999;
	border-radius: 0px;
	padding: 8px;
}

textarea {
	border: 1px solid #999999;
	border-radius: 0px;
	padding: 8px;
}

.button {
	text-align: center;
	padding: 20px 0 40px 0;
}

.button input {
	border: 0;
	outline: none;
	width: 160px;
	height: 40px;
	cursor: pointer;
	background: #999999;
	color: white;
}

.button input[type="submit"] {
	background: #333333;
}

.button input:hover {
	background: #69a3ff;
	transition: 0.3s;
}

.exit {
	background-color: black;
	color: white;
	border: none;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
}

.exit:hover {
	background-color: darkslategray;
}